In [52]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline
from datetime import datetime


#make file shorter by creatting a sample file of 10,000 records
import random


filename = "GlobalLandTemperaturesByCity.csv"
#number of records in file (excludes header)
n = sum(1 for line in open(filename)) - 1 

#desired sample size
s = 1000 

#the 0-indexed header will not be included in the skip list
skip = sorted(random.sample(xrange(1,n+1),n-s))  

#create sample dataframe 
global_temp_city  = pd.read_csv(filename, skiprows=skip).dropna()

#format dt column to be a datetime value 
global_temp_city['dt'] =  pd.to_datetime(global_temp_city['dt'], format="%Y-%m-%d")


global_temp_city[0:10]

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['random', 'datetime']
`%matplotlib` prevents importing * from pylab and numpy

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1958-01-01,27.296,0.383,Aba,Nigeria,5.63N,8.07E
1,1851-06-01 00:00:00,15.395,2.428,Abakan,Russia,53.84N,91.36E
2,1917-10-01,7.526,0.168,Abbotsford,Canada,49.03N,122.45W
3,1906-12-01,18.967,0.848,Abha,Saudi Arabia,18.48N,42.25E
4,1936-04-01,24.860,1.215,Abha,Saudi Arabia,18.48N,42.25E
5,1857-08-01 00:00:00,24.074,1.667,Abiko,Japan,36.17N,139.23E
6,1863-04-01 00:00:00,9.889,1.660,Abiko,Japan,36.17N,139.23E
7,1842-09-01 00:00:00,22.550,1.633,Abilene,United States,32.95N,100.53W
8,1849-01-01 00:00:00,11.849,1.360,Abohar,India,29.74N,73.85E
9,1869-03-01 00:00:00,21.788,1.816,Abu Dhabi,United Arab Emirates,24.92N,54.98E

In [54]:
#create dictionary to hodl temp for each year

#first create dictionary to hold temp recorded in each country by year 
yearly_temp= {}

    
for index, row in global_temp_city.iterrows():
    year = row['dt'].year
    if year in yearly_temp:
        yearly_temp[year].append(row['AverageTemperature'])
    else:
       yearly_temp[year]= [row['AverageTemperature']]

average_yearly_temp = {}

for keys in yearly_temp:
    average_temp = sum(yearly_temp[keys])/len(yearly_temp)
    average_yearly_temp[keys] = average_temp

In [58]:
#create new column for year and average temp for each year 
global_temp_city['year']= ''
#global_temp_city['AvgTempYear']= ''
global_temp_city[:5]

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1958-01-01,27.296,0.383,Aba,Nigeria,5.63N,8.07E,
1,1851-06-01 00:00:00,15.395,2.428,Abakan,Russia,53.84N,91.36E,
2,1917-10-01,7.526,0.168,Abbotsford,Canada,49.03N,122.45W,
3,1906-12-01,18.967,0.848,Abha,Saudi Arabia,18.48N,42.25E,
4,1936-04-01,24.860,1.215,Abha,Saudi Arabia,18.48N,42.25E,

In [61]:
for key, value in average_yearly_temp.iteritems() :
    #print key, value
    
    for index, row in global_temp_city.iterrows():
        if row['dt'].year == key:
            #global_temp_city['Year'].iloc[index] = key
            global_temp_city['year'][index] = key
global_temp_city[:5]

/Users/jonathan/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1958-01-01,27.296,0.383,Aba,Nigeria,5.63N,8.07E,1958
1,1851-06-01 00:00:00,15.395,2.428,Abakan,Russia,53.84N,91.36E,1851
2,1917-10-01,7.526,0.168,Abbotsford,Canada,49.03N,122.45W,1917
3,1906-12-01,18.967,0.848,Abha,Saudi Arabia,18.48N,42.25E,1906
4,1936-04-01,24.860,1.215,Abha,Saudi Arabia,18.48N,42.25E,1936

plot(cars['wt'], cars['mpg'], marker='o', color='blue', linestyle='None')
xlabel('Weight')
ylabel('Miles per Gallon')
title('Weight versus Efficiency')
show()